<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Backup</title>
</head>
<body>
    <h1>Support Tools 2.0 - Baixar Backup</h1>
    <p>Prezado cliente, por gentileza, clique no botão abaixo para baixar o arquivo:</p>


    <p>Arquivo: {{ nome_arquivo }}</p>

    {% if tamanho_mb %}
    <p>Tamanho: ({{ tamanho_mb }} MB).</p>
    {% endif %}

    <a href="{{ url_for('download_cliente', token=token) }}">
        <button>Baixar</button>
    </a>

</html>