<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Backup</title>
</head>
<body>
    <h1>Support Tools 2.0 - Envio de Backup</h1>
    <p>Preencha o formulário a seguir para a geração do link para o seu cliente.</p>

    <select id="tipo" class="form-select">
    <option value="">Clientes ou Unidades?</option>
    {% for dir in unidades %}
        <option value="{{ dir }}">{{ dir }}</option>
    {% endfor %}
    </select>

    <select id="unidade" class="form-select">
        <option value="">Selecione a unidade do cliente</option>
        {% for dir in diretorios %}
            <option value="{{ dir }}">{{ dir }}</option>
        {% endfor %}
    </select>

    <input type="text" id="codigo" class="form-control" placeholder="Digite o código do cliente">

    <div class="input-group mb-3">
        <p>Possui subpasta?</p>
        <input id="tem_subpasta" type="checkbox">
        <input type="text" id="subpasta" class="form-control" disabled>
    </div>

    <button type="button" onclick="montarCaminho()">Gerar caminho</button>

    <p id="resultado"></p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>